<div class="content">
  <div class="columns">

    <div class="column col-12">
      <span class="float-left"><button class="btn btn-sm"><strong><</strong> Back</button></span>
    </div>

    <div class="column col-4">

      <div class="show c2">

        <div class="sum_d">
          <h4><%= @account.name %></h4>
          <span><%= @account.website %></span><br>
          <span><%= @account.phone %></span>
        </div>            

        <div class="sum_d">
          <small>Billing Address</small>
            <h3><%= @account.address %><br>
            <%= @account.city %></h3>
        </div>

        <div class="colums">
        
          <div class="column col-12">
            Account Summary
            <hr>

            <div class="columns sum_g"><div class="column col-6 sum_l">Pipeline</div><div class="column col-6"><span class="float-right sum_r">£200,000</span></div></div>

            <div class="columns  sum_g"><div class="column col-6 sum_l">Closed/Won</div><div class="column col-6"><span class="float-right sum_r">£200,000</span></div></div>

            <div class="columns sum_g"><div class="column col-6 sum_l">Closed/Lost</div><div class="column col-6"><span class="float-right sum_r">£200,000</span></div></div>

            <div class="columns sum_g"><div class="column col-6 sum_l">Category</div><div class="column col-6"><span class="float-right sum_r"><%= @account.assigned_to %></span></div></div>
            
            <div class="columns sum_g"><div class="column col-12"><span class="float-right sum_r"><%= link "Close", to: Routes.page_path(@conn, :index), class: "btn" %></span></div></div>

          </div>

        </div>

      </div>

    </div>

    <div class="column col-4">
        <div class="panel show c2">
          <div class="panel-header">
            <div class="panel-title h4">Notes</div>
            <hr>
          </div>
          <div class="panel-body">
            <%= for note <- @account.notes do %>
              <div class="tile">
                <div class="tile-content">
                    <div class="toast toast-success">
                      <span class="tile-title text-bold"><%= note.inserted_at %></span>
                      <p class="tile-subtitle"><%= note.body %></p>
                    </div>
                </div>
              </div><br>
            <% end %>
          </div>
          <div class="panel-footer">
            <%= form_for @note_changeset, Routes.account_note_path(@conn, :create, @account), fn f -> %>
              <div class="input-group">
                <input id="note_body" name="note[body]" class="form-input" type="text" placeholder="Add a note">
                <button type="submit" class="btn btn-primary input-group-btn">Send</button>
              </div>
            <% end %>
          </div>
        </div>

  </div>

