<div class="form c2">
<%= form_for @changeset, @action, fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <div class="form-group">
  <%= label f, :name, class: "form-label" %>
  <%= text_input f, :name, class: "form-input" %>
  <%= error_tag f, :name %>
  </div>

<div class="columns">
    <div class="column col-6">
    <div class="form-group">
  <%= label f, :stage, class: "form-label" %>
  <%= text_input f, :stage, class: "form-input" %>
  <%= error_tag f, :stage %>
  </div>
  </div>
    <div class="column col-6">
    <div class="form-group">
  <%= label f, :close_date, class: "form-label" %>
  <%= text_input f, :close_date, class: "form-input", type: "date" %>
  <%= error_tag f, :close_date %>
  </div>
  </div>
  </div>
<div class="columns">
    <div class="column col-6">
    <div class="form-group">
  <%= label f, :probability, class: "form-label" %>
  <%= number_input f, :probability, step: "any", class: "form-input" %>
  <%= error_tag f, :probability %>
  </div>
  </div>
    <div class="column col-6">
    <div class="form-group">
  <%= label f, :amount, class: "form-label" %>
  <%= number_input f, :amount, step: "any", class: "form-input" %>
  <%= error_tag f, :amount %>
  </div>
  </div>
  </div>
<div class="columns">
    <div class="column col-6">
    <div class="form-group">
  <%= label f, :discount, class: "form-label" %>
  <%= number_input f, :discount, step: "any", class: "form-input"  %>
  <%= error_tag f, :discount %>
  </div>
  </div>
    <div class="column col-6">
    <div class="form-group">
  <%= label f, :assigned_to, class: "form-label" %>
  <%= text_input f, :assigned_to, class: "form-input" %>
  <%= error_tag f, :assigned_to %>
</div>
</div>
</div>

    <div class="form-group">
  <%= label f, :comment, class: "form-label" %>
  <%= textarea f, :comment, class: "form-input" %>
  <%= error_tag f, :comment %>
  </div>

  <div class="form-group">
  <%= label f, :account_id, class: "form-label" %>
 <%= select f, :account_id, @accounts, class: "form-input" %>
 <%= error_tag f, :account_id %>
</div><br>

  <div class="form-group">
    <%= submit "Create Opportunity", class: "btn btn-success" %>
  </div>
<% end %>
</div>
  </div>