<div class="content">
  <div class="columns">
    <div class="column">
      <span class="float-right"><%= link "Create Opportunity", to: Routes.opportunity_path(@conn, :new), class: "acc_btn" %></span>
    </div>
    <div class="column col-12 col-mx-auto">
      <table class="table c2">
        <thead>
          <tr>
            <th>Account</th>
            <th>Stage</th>
            <th>Amount</th>
            <th>Probability</th>
            <th>Assigned to</th>
            <th>Close Date</th>
          </tr>
        </thead>
        <tbody>
      <%= for opportunity <- @opportunities do %>
          <tr>
            <td><%= link opportunity.name, to: Routes.opportunity_path(@conn, :show, opportunity) %></td>
            <td><%= opportunity.stage %></td>
            <td><%= opportunity.amount %></td>
            <td><%= opportunity.probability %></td>
            <td><%= opportunity.assigned_to %></td>
            <td><%= opportunity.close_date %></td>
          </tr>
      <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>