<div class="content">
  <div class="columns">
    <div class="column col-12">
      <span class="float-left"><%= link "< Back", to: Routes.opportunity_path(@conn, :index), class: "btn btn-sm" %></span>
    </div>
    <div class="column col-5">
    <div class="show c2">
          Details
          <hr>

          <div class="columns sum_g"><div class="column col-6 sum_l">Account</div><div class="column col-6"><span class="float-right sum_r"><%= @opportunity.name %></span></div></div>

          <div class="columns  sum_g"><div class="column col-6 sum_l">Stage</div><div class="column col-6"><span class="float-right sum_r"><%= @opportunity.stage %></span></div></div>

          <div class="columns sum_g"><div class="column col-6 sum_l">Amount</div><div class="column col-6"><span class="float-right sum_r"><%= @opportunity.amount %></span></div></div>

          <div class="columns sum_g"><div class="column col-6 sum_l">Discount</div><div class="column col-6"><span class="float-right sum_r"><%= @opportunity.discount %></span></div></div>

          <div class="columns sum_g"><div class="column col-6 sum_l">Assigned to</div><div class="column col-6"><span class="float-right sum_r"><%= @opportunity.assigned_to %></span></div></div>

          <div class="columns sum_g"><div class="column col-6 sum_l">Close date</div><div class="column col-6"><span class="float-right sum_r"><%= @opportunity.close_date %></span></div></div>
          


        </ul>
      </div>
    </div>
</div>
</div>