<div class="form c2">
<%= form_for @changeset, @action, fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <div class="form-group">
  <%= label f, :name, class: "form-label" %>
  <%= text_input f, :name, class: "form-input" %>
  <%= error_tag f, :name %>
  </div>

<div class="columns">
    <div class="column col-6">
    <div class="form-group">
  <%= label f, :email, class: "form-label" %>
  <%= text_input f, :email, class: "form-input" %>
  <%= error_tag f, :email %>
</div>
  </div>
  <div class="column col-6">
    <div class="form-group">
  <%= label f, :phone, class: "form-label" %>
  <%= text_input f, :phone, class: "form-input" %>
  <%= error_tag f, :phone %>
</div>
  </div>
  </div>

<div class="form-group">
  <%= label f, :account_id, class: "form-label" %>
  <%= select f, :account_id, @accounts, class: "form-input" %>
  <%= error_tag f, :account_id %>
  </div>

<div class="columns">
    <div class="column col-6">
    <div class="form-group">
  <%= label f, :title, class: "form-label" %>
  <%= select f, :title, @title, class: "form-select" %>
  <%= error_tag f, :title %>
  </div>
</div>

<div class="column col-6">
    <div class="form-group">
  <%= label f, :department, class: "form-label" %>
  <%= text_input f, :department, class: "form-input" %>
  <%= error_tag f, :department %>
</div>
</div>
</div>

<div class="form-group">
  <%= label f, :street, class: "form-label" %>
  <%= textarea f, :street, class: "form-input" %>
  <%= error_tag f, :street %>
</div>

<div class="columns">
    <div class="column col-6">
    <div class="form-group">
  <%= label f, :city, class: "form-label" %>
  <%= text_input f, :city, class: "form-input" %>
  <%= error_tag f, :city %>
  </div>
</div>

<div class="column col-6">
    <div class="form-group">
  <%= label f, :country, class: "form-label" %>
  <%= select f, :country, @countries, class: "form-select" %>
  <%= error_tag f, :country %>
</div>
</div>
</div><br>

  <div class="float-right">
        <%= link "Cancel", to: Routes.contact_path(@conn, :index), class: "btn" %>
        <%= submit "Create Contact", class: "btn btn-success" %>
      </div>
<% end %>
</div>
  </div>