<div class="content">
  <div class="columns">
    <div class="column">
      <span class="float-right"><%= link "Create Contact", to: Routes.contact_path(@conn, :new), class: "acc_btn" %></span>
    </div>
    <div class="column col-12 col-mx-auto">
      <table class="table c2">
        <thead>
          <tr>
            <th>Full Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Account</th>
          </tr>
        </thead>
        <tbody>
      <%= for contact <- @contacts do %>
          <tr>
            <td><%= link contact.name, to: Routes.contact_path(@conn, :show, contact) %></td>
            <td><%= contact.email %></td>
            <td><%= contact.phone %></td>
            <td><%= contact.account.name %></td>
          </tr>
      <% end %>
        </tbody>
    </table>