<div class="content">
  <div class="columns">
    <div class="column col-12">
      <span class="float-left"><button class="btn btn-sm"><strong><</strong> Back</button></span>
    </div>
    <div class="column col-4">
      <div class="show c2">
        <div class="sum_d">
          <h5>Contact Details</h5>
          <hr>
          <h4><%= @contact.name %></h4>
          <p><span class="lead_txt"><i class="fa fa-envelope"></i> <%= @contact.email %></span></p>
          <p><span class="lead_txt"><i class="fa fa-phone"></i> <%= @contact.phone %></span></p>
          <p><span class="lead_txt"><i class="fa fa-user"></i> <%= @contact.department %></span></p>
          <p><span class="lead_txt"><i class="fa fa-address-book"></i> <%= @contact.street %></span></p>
        </div>
      </div>

      <div class="columns">
    <div class="column col-12">
      <div class="show c2">
        <div class="sum_d">
          <h5>Account</h5>
          <hr>
          <p><%= link @contact.account.name, to: Routes.account_path(@conn, :show, @contact.account.name) %></p>
        </div>
      </div>
    </div>
  </div>
    </div>

    <div class="column col-4">
        <div class="panel show c2">
          <div class="panel-header">
            <div class="panel-title h4">Notes</div>
            <hr>
          </div>
          <div class="panel-body">
            <%= for note <- @contact.notes do %>
              <div class="tile">
                <div class="tile-content">
                    <div class="toast toast-success">
                      <span class="tile-title text-bold"><%= note.inserted_at %></span>
                      <p class="tile-subtitle"><%= note.body %></p>
                    </div>
                </div>
              </div><br>
            <% end %>
          </div>
          <div class="panel-footer">
            <%= form_for @note_changeset, Routes.contact_note_path(@conn, :create_contact, @contact), fn f -> %>
              <div class="input-group">
                <input id="note_body" name="note[body]" class="form-input" type="text" placeholder="Add a note">
                <button type="submit" class="btn btn-primary input-group-btn">Send</button>
              </div>
            <% end %>
          </div>
        </div>
        
  </div>
  

