<div class="form c2">
<%= form_for @changeset, @action, fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>


<div class="form-group">
  <%= label f, :status, class: "form-label" %>
  <%= text_input f, :status, class: "form-input" %>
  <%= error_tag f, :status %>
  </div>
<br>
  <div class="float-right">
        <%= link "Cancel", to: Routes.lead_path(@conn, :index), class: "btn" %>
        <%= submit "Convert", class: "btn btn-success" %>
      </div>
<% end %>
</div>
  </div>
