<div class="content">
  <div class="columns">
    <div class="column">
      <span class="float-right"><%= link "Create Lead", to: Routes.lead_path(@conn, :new), class: "acc_btn" %></span>
    </div>
    <div class="column col-12 col-mx-auto">
      <table class="table c2">
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Status</th>
            <th>Company</th>
          </tr>
        </thead>
        <tbody>
      <%= for lead <- @leads do %>
          <tr>
            <td><%= link lead.name, to: Routes.lead_path(@conn, :show, lead) %></td>
            <td><%= lead.email %></td>
            <td><%= lead.phone %></td>
            <td><%= lead.status %></td>
            <td><%= lead.company %></td>
          </tr>
      <% end %>
        </tbody>
</table>